/*#region -- General --*/

body {
    margin: 0;
    background-color: #000;
    text-align: center;
}

/* Top menu bar */
.topMenuBar {
    background-color: rgb(40, 40, 40);
    height: 2cm;
    padding-left: 3%;
    text-align: left;
}

.topMenuBar a {
    text-decoration: none;
}

.topMenuBar img {
    position: relative;
    top: 5px;
}

.topMenuBar img:last-child {
    top: 9px;
}

/* Text in site default */
.siteText {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: auto;
    text-wrap: wrap;
    width: 1000px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 2cm;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 1cm;
}

/*#endregion*/

/*#region -- Posts --*/

.post {
    width: 350px;
    border-style: double;
    border-color: red;
}

.post:hover {
    border-color: white;
}

.post-link {
    position: relative;
    bottom: 10px;
    text-align: center;
}

.post-title {
    color: white;
    font-size: 25px;
}

.posts {
    position: relative;
    width: 358px;
    left: 100px;
    text-align: left;
}

/*#endregion*/

/*#region -- Game page --*/

.tvArea {
    user-select: none;
}

.inTv {
    position: absolute;
    left: 12.1cm;
    bottom: -8.5cm;
    width: 16cm;
    height: 12.5cm;
}

.gameText {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* Button default when hover */
.btn {
    border: none;
    width: 200px;
    height: 35px;
    background-color: rgb(84, 85, 255);
    font-size: 20px;
}

.btn:hover {
    width: 250px;
}

.btn:active {
    background-color: rgb(170, 170, 170);
}

/* Power button */
.btn.power {
    position: relative;
    bottom: 176px;
    width: 100px;
    height: 35px;
    background-color: rgb(37, 38, 43);
}

.btn.power:hover {
    width: 120px;
}

.btn.power:active {
    background-color: black;
}

/* Game movement buttons */
.btn.moveBtn {
    border: none;
    width: 100px;
    height: 35px;
    font-size: 20px;
}

.btn.moveBtn:hover {
    width: 125px;
}

/* Game attack & use buttons */
.btn.actionBtn {
    border: none;
    width: 204px;
    height: 35px;
    font-size: 20px;
}

.btn.actionBtn:hover {
    width: 229px;
}

/* Button state */
.btn.active {
    pointer-events: all;
}

.btn.deactive {
    pointer-events: none;
    background-color: rgb(28, 28, 87);
    color: gray;
}

/* Menu */

.menuBtn {
    margin: 15px;
}

/* Instructions */

.instructions * {
    text-align: center;
    margin: 50px;
}

/* Room descripition */
#roomDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    border: dotted;
    border-color: white;
    width: 403px;
    height: 245px;
}


#description * {
    text-wrap: wrap;
    text-align: center;
    flex: 0 0 403px;
}

#safe_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TV image */
#gameTv {
    width: 20cm;
    height: 20cm;
}

/*#endregion*/